name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install Clojure
        uses: DeLaGuardo/setup-clojure@master
        with:
          lein: 2.11.2
      
      - name: Install dependencies
        run: lein deps
      
      - name: Run tests
        run: lein test
      
      - name: Run linting (clj-kondo)
        run: lein clj-kondo --lint src test
      
      - name: Check formatting
        run: lein cljfmt check

